.root {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 15px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.note {
  flex: 1 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
  background: #001529;
  color: #fff;
}
